$family-sans-serif: "Nunito", "Helvetica", sans-serif;

$red: #cb4335;
$redHover: #d05c51;
$black: #2c3e50;
$brown: #373A36;
$dark: #404040;
$blue: #30495f;
$blueHover: #2b3c4e;
$beige-light: #D0D1CD;
$beige-lighter: #E6E2DD;
$gray: #e7e7e7;
$light-grey: #fafafa;
$white: #FFFFFF;
$strokeHover: #f5f5f5;
$infoColor: #004085;
$infoBgColor: #cce5ff;
$infoBorderColor: #b8daff;
$errorColor: #721c24;
$errorBgColor: #f8d7da;
$errorBorderColor: #f5c6cb;
$successColor: #155724;
$successBgColor: #d4edda;
$successBorderColor: #c3e6cb;
$warningColor: #856404;
$warningBgColor: #fff3cd;
$warningBorderColor: #ffeeba;
$notActiveColor: #747b82;

$defaultPadding: 8px;
$defaultBorder: 1px solid $beige-light;
$defaultBorderRadius: 6px;
